/* Whole document contains basic code and extra stuff in comment after*/
/* Headers */
h1 { /* Header 1 */
  font-size: 32px;
  font-weight: bolder;

}
h2 { /* Header 2 */
    font-size: 26px;
    font-weight: bolder;
}
h3 { /* Header 3 */
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
}
h4,h5,h6{
  font-size: 16pt;
  font-style: italic; 
}
body{
  font-family: Helvetica;
  font-size: 14pt;
  text-align: justify;
  margin:auto;
}
/*figure {
  float: right;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
/*DarkGreen
.navbar-default {
  background-color: DarkGreen !important;
}
  /*
/*
.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}
/*